body {
    background-color:rgb(255, 225, 230);
}
body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background-color: #ffdbf7; /* Example background color */
    color: #000000; /* Ensures black text color */
}